*.gem
*.rbc
.bundle
.config
.env
.rvmrc
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# Data sensitive files
# config/xmpp.yml
# config/mongoid.yml


# YARD artifacts
.yardoc
_yardoc
doc/

# Emacs Files
*~
.#*
*#*
